# Core functionality - changes here should be rare!
/src/app.py                   @HITMAN949
/src/backend/database.py      @HITMAN949
/src/backend/routers/auth.py  @HITMAN949

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HITMAN949
